<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>902225982636-h7h53gtkgrg4vdqafloat49s971pmv6l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.902225982636-h7h53gtkgrg4vdqafloat49s971pmv6l</string>
	<key>API_KEY</key>
	<string>AIzaSyA2qIcW5KfeUYv8Dw3_uxnPi286Pbr-42c</string>
	<key>GCM_SENDER_ID</key>
	<string>902225982636</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fererio.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-501e5</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-501e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:902225982636:ios:bb843f54cf300521c25b09</string>
</dict>
</plist>